.home {
    width: 100%;
    height: 80vh;
    display: flex;
    margin-top: 8%;
    justify-content: center;
    /*align-items: flex-start;  correction ici */
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.headerContainer{
    margin-bottom: 200PX
}

  





    